In [1]:
import pandas as pd
old = pd.read_csv('old.csv')
new = pd.read_csv('new.csv')

In [2]:
old

,Topic1,Topic2,Topic3,Topic4,Topic5,Topic6,Topic7,headline
0,0.500000,0.000000,0.5,0.000000,0.000000,0.000000,0.0,INTERVIEW-Monsanto unit says soybean seed supp...
1,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,UPDATE 1-EDP says to sell 20-25 pct of renewab...
2,0.000000,0.500000,0.0,0.500000,0.000000,0.000000,0.0,"ICE Jan gas oil delivery 34,900T, down 400T fr..."
3,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,INTERVIEW-Ahold's Schuitema CEO upbeat on stak...
4,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,Dutch Sligro shares jump after robust 2007 res...
...,...,...,...,...,...,...,...,...
8033,0.000000,0.400000,0.0,0.400000,0.000000,0.000000,0.2,St. Mary views Q4 production of at least 28 Bcfe
8034,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.0,"Kirkuk crude flows to Ceyhan resume at 180,000..."
8035,0.000000,0.333333,0.0,0.666667,0.000000,0.000000,0.0,Woodside says shuts Karratha gas plant due to ...
8036,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,Globalcoal coal price index tops $105 a tonne
8037,0.297297,0.405405,0.0,0.162162,0.054054,0.081081,0.0,Asian refinery maintenance/outages 2008-Update...

In [3]:
new

,Topic1,Topic2,Topic3,Topic4,Topic5,Topic6,Topic7,headline
0,0.500000,0.000000,0.5,0.000000,0.000000,0.000000,0.0,INTERVIEW-Monsanto unit says soybean seed supp...
1,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,UPDATE 1-EDP says to sell 20-25 pct of renewab...
2,0.000000,0.500000,0.0,0.500000,0.000000,0.000000,0.0,"ICE Jan gas oil delivery 34,900T, down 400T fr..."
3,0.000000,0.818182,0.0,0.181818,0.000000,0.000000,0.0,OPEC president sees oil prices rising in Q1
4,0.000000,0.857143,0.0,0.142857,0.000000,0.000000,0.0,Koch R'dam refinery slated for Feb turnaround-...
...,...,...,...,...,...,...,...,...
7623,0.000000,0.400000,0.0,0.400000,0.000000,0.000000,0.2,St. Mary views Q4 production of at least 28 Bcfe
7624,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.0,"Kirkuk crude flows to Ceyhan resume at 180,000..."
7625,0.000000,0.333333,0.0,0.666667,0.000000,0.000000,0.0,Woodside says shuts Karratha gas plant due to ...
7626,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,Globalcoal coal price index tops $105 a tonne
7627,0.297297,0.405405,0.0,0.162162,0.054054,0.081081,0.0,Asian refinery maintenance/outages 2008-Update...

In [4]:
old.head(10)

,Topic1,Topic2,Topic3,Topic4,Topic5,Topic6,Topic7,headline
0,0.500000,0.000000,0.5,0.000000,0.000000,0.0,0.0,INTERVIEW-Monsanto unit says soybean seed supp...
1,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.0,UPDATE 1-EDP says to sell 20-25 pct of renewab...
2,0.000000,0.500000,0.0,0.500000,0.000000,0.0,0.0,"ICE Jan gas oil delivery 34,900T, down 400T fr..."
3,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.0,INTERVIEW-Ahold's Schuitema CEO upbeat on stak...
4,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.0,Dutch Sligro shares jump after robust 2007 res...
5,0.000000,0.818182,0.0,0.181818,0.000000,0.0,0.0,OPEC president sees oil prices rising in Q1
6,0.000000,0.857143,0.0,0.142857,0.000000,0.0,0.0,Koch R'dam refinery slated for Feb turnaround-...
7,0.250000,0.636364,0.0,0.113636,0.000000,0.0,0.0,UPDATE 2-NWE Products-Motor fuels bounce on No...
8,0.128205,0.794872,0.0,0.076923,0.000000,0.0,0.0,UPDATE 1-European Swaps-Fall on crude oil drop
9,0.176471,0.588235,0.0,0.117647,0.117647,0.0,0.0,"Refinery margins in Europe, Singapore turn neg..."

In [5]:
new.head(10)

,Topic1,Topic2,Topic3,Topic4,Topic5,Topic6,Topic7,headline
0,0.500000,0.000000,0.5,0.000000,0.000000,0.0,0.0,INTERVIEW-Monsanto unit says soybean seed supp...
1,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.0,UPDATE 1-EDP says to sell 20-25 pct of renewab...
2,0.000000,0.500000,0.0,0.500000,0.000000,0.0,0.0,"ICE Jan gas oil delivery 34,900T, down 400T fr..."
3,0.000000,0.818182,0.0,0.181818,0.000000,0.0,0.0,OPEC president sees oil prices rising in Q1
4,0.000000,0.857143,0.0,0.142857,0.000000,0.0,0.0,Koch R'dam refinery slated for Feb turnaround-...
5,0.250000,0.636364,0.0,0.113636,0.000000,0.0,0.0,UPDATE 2-NWE Products-Motor fuels bounce on No...
6,0.128205,0.794872,0.0,0.076923,0.000000,0.0,0.0,UPDATE 1-European Swaps-Fall on crude oil drop
7,0.176471,0.588235,0.0,0.117647,0.117647,0.0,0.0,"Refinery margins in Europe, Singapore turn neg..."
8,0.200000,0.600000,0.0,0.200000,0.000000,0.0,0.0,RPT-German heating oil stocks hit 20-yr record...
9,0.200000,0.600000,0.0,0.200000,0.000000,0.0,0.0,German heating oil stocks hit 20 year record l...